In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Itaquyry,PY,2022-02-06 15:36:13,-24.9333,-55.2167,84.42,31,7,6.06
1,1,Bluff,NZ,2022-02-06 15:36:13,-46.6000,168.3333,41.81,78,0,5.39
2,2,Mataura,NZ,2022-02-06 15:36:13,-46.1927,168.8643,41.49,99,1,2.04
3,3,Vardo,NO,2022-02-06 15:36:14,70.3705,31.1107,25.00,78,67,20.92
4,4,Elban,RU,2022-02-06 15:36:14,50.1018,136.5094,-12.42,100,96,2.30

In [4]:
# Gwt the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
## max_temp = city_data_df["Max Temp"]
## temps = []
## for temp in max_temp:
##    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)


# Adjust zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Itaquyry,PY,2022-02-06 15:36:13,-24.9333,-55.2167,84.42,31,7,6.06
8,8,Port Alfred,ZA,2022-02-06 15:36:15,-33.5906,26.8910,77.52,78,0,31.41
9,9,Puerto Ayora,EC,2022-02-06 15:36:15,-0.7393,-90.3518,80.56,88,70,4.00
14,14,Atuona,PF,2022-02-06 15:36:17,-9.8000,-139.0333,78.42,75,11,19.80
22,22,Bredasdorp,ZA,2022-02-06 15:34:13,-34.5322,20.0403,79.92,54,31,12.66
23,23,Cockburn Town,TC,2022-02-06 15:31:25,21.4612,-71.1419,80.56,47,40,13.80
27,27,Rikitea,PF,2022-02-06 15:36:20,-23.1203,-134.9692,78.73,72,100,16.42
33,33,Sambava,MG,2022-02-06 15:36:22,-14.2667,50.1667,79.75,80,27,9.55
37,37,Tautira,PF,2022-02-06 15:36:23,-17.7333,-149.1500,80.62,75,64,22.26
38,38,Kruisfontein,ZA,2022-02-06 15:36:23,-34.0033,24.7314,81.88,54,78,17.69

In [24]:
preferred_cities_df.count()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0        Itaquyry      PY     84.42 -24.9333  -55.2167
8     Port Alfred      ZA     77.52 -33.5906   26.8910
9    Puerto Ayora      EC     80.56  -0.7393  -90.3518
14         Atuona      PF     78.42  -9.8000 -139.0333
22     Bredasdorp      ZA     79.92 -34.5322   20.0403
23  Cockburn Town      TC     80.56  21.4612  -71.1419
27        Rikitea      PF     78.73 -23.1203 -134.9692
33        Sambava      MG     79.75 -14.2667   50.1667
37        Tautira      PF     80.62 -17.7333 -149.1500
38   Kruisfontein      ZA     81.88 -34.0033   24.7314

In [31]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [35]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Itaquyry,PY,84.42,-24.9333,-55.2167,Posada Santa Celina
8,Port Alfred,ZA,77.52,-33.5906,26.8910,The Halyards Hotel
9,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Atuona,PF,78.42,-9.8000,-139.0333,Villa Enata
22,Bredasdorp,ZA,79.92,-34.5322,20.0403,Bredasdorp Country Manor
...,...,...,...,...,...,...
510,Vila Velha,BR,87.75,-20.3297,-40.2925,Quality Suites Vila Velha
512,Bathsheba,BB,84.81,13.2167,-59.5167,Atlantis Hotel
515,Tual,ID,83.23,-5.6667,132.7500,Grand Vilia Hotel
522,Sarangani,PH,81.52,5.4033,125.4636,Ballistic Islet
525,Manakara,MG,78.26,-22.1333,48.0167,La Residence Manakara

In [38]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))